@import "@xyflow/react/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --aven-primary: #3d348b;
    --aven-secondary: #7678ed;
    --aven-base: #faf9f5;
    --aven-surface: #e8e6dc;
    --aven-border: #d6d3c4;
    --aven-text: #141413;
    --aven-text-subtle: #3d3d3a;
    --aven-text-muted: #87867f;
    --aven-status-active: #f7b801;
    --aven-status-locked: #f18701;
    --aven-status-mastered: #f35b04;
  }
  
  html {
    color-scheme: light;
  }
  body {
    background-color: var(--aven-base);
    color: var(--aven-text);
    @apply antialiased font-sans;
    min-height: 100vh;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

